:root {
  overflow: hidden;
  background-color: blue;
  display: flex;
  justify-content: center;
}

.head {
  background-color: tan;
  border-radius: 50%;
  height: 50vh;
  aspect-ratio: 1 / 1;
  /*
    animations declared later in the cascade will override the
    properties of previously declared animations
  */
  /* bounce 'overwrites' the transform set by rise, hence the sun only moves horizontally */
  animation: 4s linear 0s infinite alternate rise, 4s linear 0s infinite
      alternate bounce;
}
.body{
  background-color: black;
    border-radius: 20%;
  height: 50vh;
  aspect-ratio: 1 / 1;
  /*
    animations declared later in the cascade will override the
    properties of previously declared animations
  */
  /* bounce 'overwrites' the transform set by rise, hence the sun only moves horizontally */
  animation: 4s linear 0s infinite alternate rise, 4s linear 0s infinite
      alternate bounce;
}

@keyframes rise {
  from {
    transform: translateY(80vh);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes bounce {
  from {
    transform: translateX(-50vw);
  }
  to {
    transform: translateX(50vw);
  }
}

