body {
	margin: 40px;
	padding:20 px;
	border:2px solid silver;
	background-color: black;
	font-family: monospace;
	font-size: 20px;
}

div { 
	margin:20px;
 	color: white;
 	padding: 10px;
  animation-duration: 3s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 30%;
    width: 250%;
  }

  55% {
    font-size: 300%;
    margin-left:25%;
    width: 150%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
img{
	block-size: 500px;
	padding: 30px;
}
