body{
background: black;
color: white;
}
p{
margin: 35px;
padding: 25px;
border: purple 5px dotted;
text-align: center;
font-size: 45px;
}
ul{
	list-style-type: none;
	font-family: fantasy;
	font-size: 20px;
	border: skyblue 5px ridge;
	padding: 20px;
	text-align: center;
	margin: 45px;
}
li{ 
	text-align: center;
	padding-block: 30px;
	border: black 2px solid;
	margin-block: 25px ;
	background-color: lightskyblue;
	width: 725px;
	height: 20px;
}
:hover {
	background-color: black;
}


