body{
background: lavender;}
p{
margin: 20px;
padding: 10px;
border-block: purple 2px;
align-content: center;}

ul{
	list-style-type: square;
	font-family: fantasy;
	font-size: 16px;
}
li{
	padding-block: 5px;
}