body {
	background-color: red;
	color: white;
	Border: 2px solid yellow;
	margin: 20px;
	padding: 20px ;
}
img{
	block-size: 500px;
}
.box{
	padding: 20px;
  animation-duration: 3s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
.box{
	display: grid;
	width: 890px;
	grid-template-columns: 260px 450px ;
	align-items: start;
	justify-content: space-between;
}