body {
  background: turquoise;
}
form {
 position: relative;
  margin: 0 auto;
  padding: 1px;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
button {
  width: 350px;
  padding: 10px;
  margin: 15px;
  border-radius: 5px;
  background: none;
  cursor: pointer;
  transform: rotate(-1.5deg);
}
input,
textarea {
  font: 1.4em/1.5em "handwriting", cursive, sans-serif;
  border: 3px;
  padding: 10px;
  margin: 5px;
  width: 80%;
  background: none;
}