body {
  font: sans-serif;
  padding: 10px;
  margin: 15px;
  background: greenyellow;
}
form {
 position: relative;
  width: 740px;
  height: 498px;
  margin: 0 auto;
  padding: 1em;
  box-sizing: border-box;
  background: #fff url(background.jpg);
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
button {
  width: 350px;
  padding: 10px;
  margin: 15px;
  border-radius: 5px;
  background: none;
  cursor: pointer;
  transform: rotate(-1.5deg);
}

textarea {
  font-family: inherit;
  font-size: 100%;
}