Body{
	background-color: skyblue;
	margin: 70px;
	padding:20px;
	align-items: center;
	border:3px solid red;
}
.container {
	display: grid;
	grid-column-start: 1;
  grid-column-end: span col4-start;
  grid-row-start: 2;
  grid-row-end: span 2;   
	}

img{
	block-size: 300px;
	padding: 5px;
}

P{
	padding: 15px;
	font-family: inherit;
	animation-duration: 3s;
	animation-name: slidein;
	animation-iteration-count: 1;
}
.item {
	display: grid;
  grid-area: 1;
  grid-column-start: 4;
  grid-column-end: last-line;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
