body {
	margin: 40px;
	padding:20 px;
	border:2px solid darkgoldenrod;
	background-color: gold; 
  animation-duration: 3s;
  animation-name: slidein;
}

p { 
 	color: darkred;
 	padding: 10px;
}
@keyframes slidein {
  from {
    margin-left: -150%;
    width: 300%;
  }

  to {
    margin-left: 5%;
    width: 100%;
  }
}
img{
	block-size: 500px;
	padding: 30px;
}
.box{
    display: grid;
  width: 840vp;
  grid-template-columns: 120px 120px 120px;
  align-items: start;
  justify-content: space-between;
