body {
	margin-block: 40px;
	padding:20 px;
	border:2px solid antiquewhite;
	background-color: lightgoldenrodyellow;
}

p { 
 	color: white;
 	padding: 10px;
  animation-duration: 3s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  55% {
    font-size: 300%;
    margin-left: 25%;
    width: 150%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
img{
	block-size: 500px;
	padding: 30px;
}
