Body { margin-block: 15px; 
	Border:5px;
	font: 15px;
	background-color: purple;
 	border-color:black 10px ;
 	padding-block: 15px;
  	Margin:20px;
  	color: white;
}  
p {
	margin: 10px;
	padding: 6px;
	border-color: lavenderblush 2px;
	font-family: sans-serif;
	font-size: 16px;
}