.HomePage 
{
    width: 50px;
    height: 40 px;
    background-color: skyblue;
    border: 3px solid firebrick;
    border-radius: 30 px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.HomePage:
hover 
{
 background-color: lightblue;}
#container {
  display: grid;
  grid: repeat(2, 60px) / auto-flow 80px;
}
img { width:300px;
    height: 600 px;
    border: 2px;
}
p { margin: auto;
 
}