.HomePage {
    width: 30px;
    height: 25px;
    background-color: skyblue;
    border: 3px solid firebrick;
    border-radius: 15px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.HomePage:hover {
    background-color: lightblue;
}
